*{
    padding: 10px;
    margin: 0px;
    color: blueviolet;
    text-align: center; 
    
}
html, body{
    background-color: aqua;
}

.main-container{
    border: 7px solid rgb( green);
    border-radius: 50px;
    margin: 2rem;
    background-color: rgb(173, 34, 106);

}
nav, section, footer, aside, article{
    border: 4px solid rgb(255,0,0);
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

article, aside{
    width: 40%;
    display: inline-block;
    height: 300px;
}

nav, footer, section{
    background-color: rgb(63, 139, 0);
}
